:root {
  --primaryColor-cyan: hsl(179, 62%, 43%);
  --primaryColor-BrightYellow: hsl(71, 73%, 54%);
  --secondaryColor-LightGrey: hsl(204, 43%, 93%);
  --secondaryColor-GrayishBlue: hsl(218, 22%, 67%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  margin-top: 0;
  margin-bottom: 2.4rem;
}

/* Button */
.btn {
  width: 100%;
  background: var(--primaryColor-BrightYellow);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 50px var(--secondaryColor-GrayishBlue);
  padding: 1.4rem 0;
  color: #fff;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn:hover,
.btn:focus {
  outline: 0;
  background: hsl(71, 73%, 60%);
}

/* conatiner */
.container {
  box-shadow: 0 0 5px var(--secondaryColor-LightGrey);
  padding-top: 2.8rem;
  padding-left: 2.3rem;
  padding-right: 2rem;
  width: 31rem;
}

/* community */
.community {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.community__heading {
  color: var(--primaryColor-cyan);
  font-size: 2rem;
}

.community__trial {
  color: var(--primaryColor-BrightYellow);
  font-size: 1.5rem;
  font-weight: 700;
}

.community__text {
  color: var(--secondaryColor-GrayishBlue);
  font-size: 1.4rem;
}

/* subscription */

.subscription {
  background: var(--primaryColor-cyan);
}

.subscription > h2 {
  font-size: 1.8rem;
}

.subscription > p {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 2.6rem;
}

.subscription__plan {
  display: flex;
  align-items: center;
}

.subscription__price {
  font-size: 3.2rem;
  font-weight: bold;
  margin-right: 1rem;
}

.subscription__circle {
  opacity: 0.4;
}
